html, body{
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 10px;
}