.width-default {
    width: 80%;
}

span {
    /* inline 속성의 span은 컨텍츠(텍스트)만큼의 사이즈를 차지하는 auto가 기본값 */
    width: auto;
}

.width-px {
    width: 300px;
}

.width-pct {
    width: 50%;
    /* w50p */
}